frontend postgres-in
  bind *:35430
  acl allowed_ips src 52.3.77.232 3.214.191.130 34.233.79.135
  tcp-request connection reject if !allowed_ips
  default_backend postgres-backend

backend postgres-backend
  server postgres1 192.168.0.101:35432 maxconn 100 check

#frontend postgres-in
#  bind *:5430
#  acl allowed_ips src 52.3.77.232 3.214.191.130 34.233.79.135
#  tcp-request connection accept if allowed_ips
#  #tcp-request connection reject if { src -f /etc/haproxy/blocked_ips.lst }
#  default_backend postgres-backend
#
#backend postgres-backend
#  server postgres1 192.168.0.101:5432 maxconn 100 check
#  #server postgres1 127.0.0.1:5432 maxconn 100 check
